<!-- views/login.ejs -->
<%- include('partials/header'); -%>
<form action="/login" method="POST">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button>Login</button>
</form>
<%- include('partials/footer'); -%>
